<%= javascript_pack_tag 'lateral_menu' %>
 
 <div class="lateral_menu text-center">
    <div class="page-header mt-3 mb-3">
      <%= image_tag 'pesca_home' %>
    </div>
    <h4 class="fucebooapesca"><b><font color=#FFFF00>Fuce</font><font color=#34A852>B</font><font  color=#FBBC07>o</font><font color=#FBBC07>o</font><font color=#4285F4>a</font><font color=#8B008B>P</font><font color=#ff8C00>e</font><font color=#0000ff>s</font><font color=#008000>c</font><font color=#ff0000>a</font></b></h4>
  <hr /> 

    <ul class="me-4">
        <li>
            <%= link_to root_path do %>
                Onde pescar
            <% end %>
        </li>

        <li>
            Nossos Parceiros
        </li>

        
        <li class="fucebooapesca">
        <b><font color=#FFFF00>Fuce</font><font color=#34A852>B</font><font  color=#FBBC07>o</font><font color=#FBBC07>o</font><font color=#4285F4>a</font><font color=#8B008B>P</font><font color=#ff8C00>e</font><font color=#0000ff>s</font><font color=#008000>c</font><font color=#ff0000>a</font></b>
        </li>

        <li>
            Calendario Lunar
        </li>


        <li>
            Quem Somos
        </li>
    </ul>
</div>